.c-testshapes{    
    width: 100%
}

.c-testshapes .header{
    padding: 0px;
    border-bottom: solid 1px rgb(204,204,204);
}

.c-testshapes .qnumber-box{
    border-left: solid 1px rgb(204,204,204);
}

.c-testshapes .description-box{
    border-left: solid 1px rgb(204,204,204);
    justify-content: right;
}

.c-testshapes .timer-box{
    display: flex;
    font-size: 1.6rem;
    padding: 5px 15px;
    white-space: nowrap;
}

.c-testshapes .content{
    padding: 10px;
    border-bottom: solid 1px rgb(204,204,204);
}

.c-testshapes .content .question-box{
    padding: 20px;
    border-left: solid 1px rgb(204,204,204);
}

.c-testshapes .content .answers-box{
    padding: 20px;
}

.c-testshapes .footer{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.c-testshapes .buttons{
    display: flex;
    justify-content: space-around;
    width: 320px;
}


.c-testshapes .question-box .question-img{
    height: 150px;
}

.c-testshapes .question-box .answers-img{
    height: 100px;
}
