.p-signup .signup-container {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .12);
    background-color: rgba(0, 255, 0, 0.03);
    background: linear-gradient( rgba(0, 255, 0, 0.04),  rgba(0, 255, 0, 0.02) 25%);
    padding: 45px 45px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.p-signup .signup-vertical-sep-text {
    display: inline-block;    
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;    
}

.p-signup .signup-vertical-sep {
    display: inline-block;
    border-bottom: 1px solid #c7c7c7;
    width: 30%;
}


@media screen and (max-width: 580px){
    .p-signup .signup-vertical-sep {
        display: none;
    }
    .p-signup .signup-vertical-sep-text {
        white-space: nowrap;
    }

    .p-signup .signupContainer {
        padding: 0 5px;
        margin-top: 3px;
        margin: 3px;
    }
    
}