.c-mivdakintro{
    height: 100%;
}

.c-mivdakintro .sub-title{
    font-weight: bold;
    line-height: 40px;
}

.c-mivdakintro li{
    line-height: 25px;
}
.c-mivdakintro .startbtn-box{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

