.p-mivdak {
    width: 100%;
}

.p-mivdak .mivdak-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    height: 100%;
    padding: 10px;
    margin-bottom: 40px;
}

.p-mivdak .mivdak-title{
    font-size: 30px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.p-mivdak .btn-flat-green {
    background-color: green;
    color: white;
}

.p-mivdak .btn-flat-red {
    background-color: rgb(210, 67, 107);
    color: white;
}

.p-mivdak .btn-answer {
    background-color: #fff;
    border-color: #e4e4e4;
    text-align: right;
}
.p-mivdak .btn-answer:hover, .btn-answer:focus, .btn-answer:active, .btn-answer.active {
    background-color: #ccc;
    border-color: #9e9e9e;
}



.p-mivdak .c-tests{    
    width: 100%
}

.p-mivdak .c-tests .header{
    padding: 0px;
    border-bottom: solid 1px rgb(204,204,204);
}

.p-mivdak .c-tests .qnumber-box{
    border-left: solid 1px rgb(204,204,204);
}

.p-mivdak .c-tests .description-box{
    border-left: solid 1px rgb(204,204,204);
    justify-content: right;
}

.p-mivdak .c-tests .timer-box{
    display: flex;
    font-size: 1.6rem;
    padding: 5px 15px;
    white-space: nowrap;
}

.p-mivdak .c-tests .content{
    padding: 10px;
    border-bottom: solid 1px rgb(204,204,204);
}

.p-mivdak .c-tests .content .question-box{
    padding: 20px;
    border-left: solid 1px rgb(204,204,204);
}

.p-mivdak .c-tests .content .answers-box{
    padding: 20px;
}


.p-mivdak .c-tests .content .answers-box .answer{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px rgb(228, 228, 228);
    margin: 5px;
}
.p-mivdak .c-tests .content .answers-box .answer:hover{
    border-color: rgb(210, 67,107);
    cursor: pointer;
}

.p-mivdak .c-tests .content .answers-box .select{
    border-color: rgb(210, 67,107);
    border-width: 2px;
}


.p-mivdak .c-tests .footer{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.p-mivdak .c-tests .buttons{
    display: flex;
    justify-content: space-around;
    width: 320px;
}


.p-mivdak .c-tests .question-box .question-img{
    max-height: 150px;
}

.p-mivdak .c-tests .question-box .answers-img{
    height: 100px;
}


@media screen and (min-width:768px) {
    .p-mivdak .c-tests .content .answers-box{
        min-height: 400px;
    }
}